<h1><%= @post.content %></h1> <%= button_to_function "Reply", nil, :class => 'toggle_form', :reference => "##{@post.id}_reply" %>
<div id="<%= @post.id %>_reply" style="display: none;">
  <%= render :partial => 'form', :locals => {:post => Post.new(:parent_id => @post.id)}%>
</div>

<%- @replies.each do |reply| -%>
<div class="reply" style="<%= indentation_by_level(reply) %>">
  <%= reply.content %> <%= button_to_function "Reply", nil, :class => 'toggle_form', :reference => "##{reply.id}_reply" %>
  <div id="<%= reply.id %>_reply" style="display: none;">
    <%= render :partial => 'form', :locals => {:post => Post.new(:parent_id => reply.id)}%>  
  </div>
</div>  
<%- end -%>
<%= will_paginate @replies %>